<div class="ui inverted vertical center aligned segment masthead">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <img
        src="../../assets/logo.png"
        class="ui massive image"
        style="margin-bottom: 12px; margin-right: -2px"
      />
      Reactivities
    </h1>
  </div>
  <h2 class="ui inverted header">Welcome to Reactivities</h2>
  <!--TODO: Fix link-->
  <a routerLink="/activities" class="ui huge inverted button">
    Take me to the Activities!</a
  >
</div>
